---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &app miniflux-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: *app
    template:
      engineVersion: v2
      data:
        ADMIN_USERNAME: "{{ .MINIFLUX_ADMIN_USERNAME }}"
        ADMIN_PASSWORD: "{{ .MINIFLUX_ADMIN_PASSWORD }}"
        OAUTH2_CLIENT_ID: "{{ .MINIFLUX_OAUTH2_CLIENT_ID }}"
        OAUTH2_CLIENT_SECRET: "{{ .MINIFLUX_OAUTH2_CLIENT_SECRET }}"
        OAUTH2_OIDC_DISCOVERY_ENDPOINT: "{{ .MINIFLUX_OAUTH2_OIDC_DISCOVERY_ENDPOINT }}"
        OAUTH2_PROVIDER: "oidc"
        OAUTH2_REDIRECT_URL: "https://reader.${SECRET_DOMAIN}/oauth2/oidc/callback"
        OAUTH2_USER_CREATION: "1"
  dataFrom:
    - extract:
        key: miniflux
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &db miniflux-db-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: crunchy-pgo-secrets
  target:
    name: *db
    template:
      engineVersion: v2
      data:
        DATABASE_URL: &dbhost '{{index . "uri"}}'
  dataFrom:
    - extract:
        key: postgres16-pguser-miniflux
