---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph-cluster
spec:
  interval: 1h
  timeout: 10m
  chartRef:
    kind: OCIRepository
    name: rook-ceph-cluster
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    monitoring:
      enabled: true
      createPrometheusRules: true
      externalMgrEndpoints:
        - ip: 10.10.100.30
        - ip: 10.10.100.31
        - ip: 10.10.100.32
      externalMgrPrometheusPort: 9283
    toolbox:
      enabled: true
    cephClusterSpec:
      dataDirHostPath: /var/lib/rook
      cephVersion:
        image: quay.io/ceph/ceph:v19.2.3
      external:
        enable: true
      crashCollector:
        disable: true
      network:
        provider: host
        addressRanges:
          public:
            - 10.10.100.0/24
          cluster:
            - 10.10.100.0/24
    cephBlockPools: {}
    cephFileSystems: {}
    cephObjectStores: {}
