---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: rook-ceph-cluster
spec:
  interval: 5m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: v1.18.7
  url: oci://ghcr.io/rook/rook-ceph-cluster
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph-cluster
spec:
  interval: 1h
  timeout: 10m
  chartRef:
    kind: OCIRepository
    name: rook-ceph-cluster
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    monitoring:
      enabled: true
      createPrometheusRules: true
      externalMgrEndpoints:
        - ip: 10.10.100.30
        - ip: 10.10.100.31
        - ip: 10.10.100.32
      externalMgrPrometheusPort: 9283
    toolbox:
      enabled: true
    cephClusterSpec:
      dataDirHostPath: /var/lib/rook
      cephVersion:
        image: quay.io/ceph/ceph:v19.2.3 # Update to match the Proxmox Ceph version
      external:
        enable: true
      crashCollector:
        disable: true
      network:
        provider: host
        addressRanges:
          public:
            - 10.10.100.0/24
          cluster:
            - 10.10.100.0/24

    cephBlockPools: {}
    cephFileSystems: {}
    cephObjectStores: {}
