---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vpn-gateway
spec:
  interval: 1h
  chart:
    spec:
      chart: pod-gateway
      version: 7.1.1
      sourceRef:
        kind: HelmRepository
        name: angelnu-charts
      interval: 1h
  values:
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/angelnu/pod-gateway
              tag: v1.13.0@sha256:a5b032e15f7570493977b330a5a86dcffebb807d35685ad803e47afb62d105f2
          gluetun:
            enabled: true
            image:
              repository: ghcr.io/qdm12/gluetun
              tag: v3.41.1@sha256:1a5bf4b4820a879cdf8d93d7ef0d2d963af56670c9ebff8981860b6804ebc8ab
            envFrom:
              - secretRef:
                  name: vpn-gateway-secret
            resources:
              limits:
                squat.ai/tun: "1"
            securityContext:
              capabilities:
                add:
                  - NET_ADMIN
        pod:
          annotations:
            configmap.reloader.stakater.com/reload: vpn-gateway-pod-gateway
            secret.reloader.stakater.com/reload: vpn-gateway-vpnconfig
      webhook:
        containers:
          main:
            image:
              repository: ghcr.io/angelnu/gateway-admision-controller
              tag: v3.12.0@sha256:6f6ab596afd5fef0ca4648eadfb21cd37ba86fa5afa8b85edcc072976a61fbed

    networkpolicies:
      main:
        enabled: true
        controller: main
        policyTypes:
          - Egress
        rules:
          egress:
            - to:
                - ipBlock:
                    cidr: 0.0.0.0/0
                - ipBlock:
                    cidr: ::/0
              ports:
                - port: 51820
                  protocol: UDP
                - port: 80
                  protocol: TCP
                - port: 443
                  protocol: TCP
                - port: 53
                  protocol: UDP
            - to:
                - namespaceSelector: {}
            - to:
                - namespaceSelector: {}
              ports:
                - port: 4789
                  protocol: UDP

    DNS: 172.16.1.1
    routed_namespaces:
      - media

    settings:
      VPN_INTERFACE: "wg0"
      VXLAN_ID: 44
      VXLAN_IP_NETWORK: 172.16.1
      VXLAN_GATEWAY_FIRST_DYNAMIC_IP: 20
      VPN_BLOCK_OTHER_TRAFFIC: false
      VPN_TRAFFIC_PORT: "51820"
      VPN_LOCAL_CIDRS: 10.0.0.0/8 172.16.0.0/12 192.168.0.0/16
      NOT_ROUTED_TO_GATEWAY_CIDRS: 10.0.0.0/8 172.16.0.0/12 192.168.0.0/16
      DNS_LOCAL_CIDRS: "local"

    webhook:
      gatewayDefault: false
      gatewayLabel: setGateway
      gatewayAnnotation: setGateway
      namespaceSelector:
        type: label
        label: "vpn-routed-gateway"
