---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vpn-gateway
spec:
  interval: 1h
  chart:
    spec:
      chart: pod-gateway
      version: 6.5.1
      sourceRef:
        kind: HelmRepository
        name: angelnu-charts
      interval: 1h
  values:
    image:
      repository: ghcr.io/angelnu/pod-gateway
      tag: v1.13.0@sha256:a5b032e15f7570493977b330a5a86dcffebb807d35685ad803e47afb62d105f2

    addons:
      netshoot:
        enabled: true
      vpn:
        enabled: true
        type: gluetun
        image:
          repository: docker.io/qmcgaw/gluetun
          tag: v3.40.3
        envFrom:
          - secretRef:
              name: vpn-gateway-secret
        resources:
          limits:
            squat.ai/tun: "1"
        securityContext:
          capabilities:
            add:
              - NET_ADMIN

        networkPolicy:
          enabled: true
          egress:
            - to:
                - ipBlock:
                    cidr: 0.0.0.0/0
                - ipBlock:
                    cidr: ::/0
              ports:
                - port: 51820
                  protocol: UDP
                - port: 80
                  protocol: TCP
                - port: 443
                  protocol: TCP
                - port: 53
                  protocol: UDP
            - to:
                - namespaceSelector: {}
            - to:
                - namespaceSelector: {}
              ports:
                - port: 8472
                  protocol: UDP
    podAnnotations:
      configmap.reloader.stakater.com/reload: vpn-gateway-pod-gateway
      secret.reloader.stakater.com/reload: vpn-gateway-vpnconfig

    DNS: 172.16.1.1
    routed_namespaces:
      - media

    settings:
      VPN_INTERFACE: "wg0"
      VXLAN_ID: 44
      VXLAN_IP_NETWORK: 172.16.1
      VXLAN_GATEWAY_FIRST_DYNAMIC_IP: 20
      VPN_BLOCK_OTHER_TRAFFIC: false
      VPN_TRAFFIC_PORT: "51820"
      VPN_LOCAL_CIDRS: 10.0.0.0/8 192.168.0.0/16
      NOT_ROUTED_TO_GATEWAY_CIDRS: 10.0.0.0/8 192.168.0.0/16

    webhook:
      image:
        repository: ghcr.io/angelnu/gateway-admision-controller
        tag: v3.12.0@sha256:6f6ab596afd5fef0ca4648eadfb21cd37ba86fa5afa8b85edcc072976a61fbed
      gatewayDefault: false
      gatewayLabel: setGateway
      gatewayAnnotation: setGateway
      namespaceSelector:
        label: "vpn-routed-gateway"
