---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: jellyseerr
  namespace: media
spec:
  interval: 1h
  path: ./kubernetes/apps/media/jellyseerr/app
  dependsOn:
    - name: onepassword
      namespace: external-secrets
    - name: media-shared
      namespace: media
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: media
  timeout: 5m
  wait: false
  postBuild:
    substitute:
      APP: jellyseerr
      VOLSYNC_CAPACITY: 15Gi
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
