---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: sonarr-anime-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: sonarr-anime-secret
    template:
      engineVersion: v2
      data:
        SONARR__AUTH__APIKEY: "{{ .SONARR_ANIME_API_KEY }}"
        PUSHOVER_TOKEN: "{{ .SONARR_ANIME_PUSHOVER_TOKEN }}"
        PUSHOVER_USER_KEY: "{{ .PUSHOVER_USER_KEY }}"
  dataFrom:
    - extract:
        key: sonarr-anime
    - extract:
        key: pushover
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: sonarr-anime-db-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: crunchy-pgo-secrets
  target:
    name: sonarr-anime-db-secret
    template:
      engineVersion: v2
      data:
        SONARR__POSTGRES__HOST: '{{index . "host"}}'
        SONARR__POSTGRES__PORT: '{{index . "port"}}'
        SONARR__POSTGRES__USER: '{{index . "user"}}'
        SONARR__POSTGRES__PASSWORD: '{{index . "password" }}'
        SONARR__POSTGRES__MAINDB: '{{index . "dbname" }}'
  dataFrom:
    - extract:
        key: postgres16-pguser-sonarr-anime
