---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: jellystat-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: jellystat-secret
    template:
      engineVersion: v2
      data:
        JWT_SECRET: "{{ .JELLYSTAT_JWT_SECRET }}"
  dataFrom:
    - extract:
        key: jellystat
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: jellystat-db-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: crunchy-pgo-secrets
  target:
    name: jellystat-db-secret
    template:
      engineVersion: v2
      data:
        POSTGRES_IP: '{{index . "host"}}'
        POSTGRES_PORT: '{{index . "port"}}'
        POSTGRES_USER: '{{index . "user"}}'
        POSTGRES_PASSWORD: '{{index . "password" }}'
        POSTGRES_DB: '{{index . "dbname" }}'
  dataFrom:
    - extract:
        key: postgres16-pguser-jellystat
