---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &app authentik-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: *app
    template:
      engineVersion: v2
      data:
        AUTHENTIK_STORAGE__MEDIA__BACKEND: "s3"
        AUTHENTIK_STORAGE__MEDIA__S3__ACCESS_KEY: "{{ .AUTHENTIK_S3_ACCESS_KEY }}"
        AUTHENTIK_STORAGE__MEDIA__S3__SECRET_KEY: "{{ .AUTHENTIK_S3_SECRET_KEY }}"
        AUTHENTIK_STORAGE__MEDIA__S3__BUCKET_NAME: "{{ .AUTHENTIK_S3_BUCKET_NAME }}"
        AUTHENTIK_STORAGE__MEDIA__S3__ENDPOINT: "{{ .AUTHENTIK_S3_ENDPOINT }}"
        AUTHENTIK_STORAGE__MEDIA__S3__CUSTOM_DOMAIN: "{{ .AUTHENTIK_S3_CUSTOM_ENDPOINT }}"

        AUTHENTIK_BOOTSTRAP_EMAIL: "{{ .AUTHENTIK_BOOTSTRAP_EMAIL }}"
        AUTHENTIK_BOOTSTRAP_PASSWORD: "{{ .AUTHENTIK_BOOTSTRAP_PASSWORD }}"
        AUTHENTIK_BOOTSTRAP_TOKEN: "{{ .AUTHENTIK_BOOTSTRAP_TOKEN }}"
        AUTHENTIK_SECRET_KEY: "{{ .AUTHENTIK_SECRET_KEY }}"

        AUTHENTIK_EMAIL__HOST: "{{ .AUTHENTIK_EMAIL_HOST }}"
        AUTHENTIK_EMAIL__PORT: "{{ .AUTHENTIK_EMAIL_PORT }}"
        AUTHENTIK_EMAIL__FROM: "{{ .AUTHENTIK_EMAIL_FROM }}"
  dataFrom:
    - extract:
        key: authentik

---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &db authentik-db-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: crunchy-pgo-secrets
  target:
    name: *db
    template:
      engineVersion: v2
      data:
        AUTHENTIK_POSTGRESQL__HOST: &dbhost '{{index . "host"}}'
        AUTHENTIK_POSTGRESQL__NAME: &dbname '{{index . "dbname"}}'
        AUTHENTIK_POSTGRESQL__USER: &dbuser '{{index . "user"}}'
        AUTHENTIK_POSTGRESQL__PASSWORD: &dbpass '{{index . "password" }}'
  dataFrom:
    - extract:
        key: postgres16-pguser-authentik
