---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &app karakeep-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: *app
    template:
      engineVersion: v2
      data:
        DATA_DIR: "/data"
        S6_READ_ONLY_ROOT: "1"
        NEXTAUTH_URL: "https://links.${SECRET_DOMAIN}"
        NEXTAUTH_SECRET: "{{ .KARAKEEP_ENCRYPTION_KEY }}"
        MEILI_ADDR: "http://karakeep-meilisearch.default.svc.cluster.local:7700"
        MEILI_MASTER_KEY: "{{ .KARAKEEP_MEILISEARCH_MASTER_KEY }}"
        DISABLE_NEW_RELEASE_CHECK: "true"
        COREPACK_INTEGRITY_KEYS: "0"

        BROWSER_WEB_URL: "http://karakeep-chrome.default.svc.cluster.local:9222"
        CRAWLER_DOWNLOAD_BANNER_IMAGE: "true"
        CRAWLER_ENABLE_ADBLOCKER: "true"
        CRAWLER_STORE_SCREENSHOT: "true"
        CRAWLER_FULL_PAGE_SCREENSHOT: "true"
        CRAWLER_SCREENSHOT_TIMEOUT_SEC: "30"
        CRAWLER_FULL_PAGE_ARCHIVE: "true"
        CRAWLER_VIDEO_DOWNLOAD: "true"
        CRAWLER_VIDEO_DOWNLOAD_MAX_SIZE: "-1"

        OAUTH_WELLKNOWN_URL: "{{ .KARAKEEP_OAUTH_WELLKNOWN_URL }}"
        OAUTH_CLIENT_ID: "{{ .KARAKEEP_OAUTH_CLIENT_ID }}"
        OAUTH_CLIENT_SECRET: "{{ .KARAKEEP_OAUTH_CLIENT_SECRET }}"
        OAUTH_SCOPE: "openid email profile"
        OAUTH_PROVIDER_NAME: "Nimbus SSO"
        OAUTH_ALLOW_DANGEROUS_EMAIL_ACCOUNT_LINKING: "false"
        OAUTH_TIMEOUT: "3500"
        DISABLE_PASSWORD_AUTH: "true"
        DISABLE_SIGNUPS: "false"

        OPENAI_API_KEY: "{{ .KARAKEEP_OPENAI_API_KEY }}"
        INFERENCE_TEXT_MODEL: "gpt-4.1-mini"
        INFERENCE_IMAGE_MODEL: "gpt-4o-mini"
        EMBEDDING_TEXT_MODEL: "text-embedding-3-small"
        INFERENCE_CONTEXT_LENGTH: "4096"
        INFERENCE_ENABLE_AUTO_TAGGING: "true"
        INFERENCE_ENABLE_AUTO_SUMMARIZATION: "false"
        INFERENCE_JOB_TIMEOUT_SEC: "30"
        INFERENCE_OUTPUT_SCHEMA: "structured"
  dataFrom:
    - extract:
        key: karakeep
