---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &app karakeep-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: *app
    template:
      engineVersion: v2
      data:
        BROWSER_WEB_URL: "http://karakeep-chrome.default.svc.cluster.local:9222"
        CRAWLER_DOWNLOAD_BANNER_IMAGE: "true"
        CRAWLER_ENABLE_ADBLOCKER: "true"
        CRAWLER_STORE_SCREENSHOT: "true"
        CRAWLER_NUM_WORKERS: "1"
        CRAWLER_SCREENSHOT_TIMEOUT_SEC: "30"
        CRAWLER_STORE_PDF: "true"
        CRAWLER_FULL_PAGE_ARCHIVE: "true"
        CRAWLER_VIDEO_DOWNLOAD: "true"
        CRAWLER_VIDEO_DOWNLOAD_MAX_SIZE: "-1"
        CRAWLER_VIDEO_DOWNLOAD_TIMEOUT_SEC: "600"
        INFERENCE_TEXT_MODEL: "gpt-5-mini"
        INFERENCE_IMAGE_MODEL: "gpt-5-mini"
        DATA_DIR: "/data"
        DISABLE_SIGNUPS: "true"
        MEILI_ADDR: "http://karakeep-meilisearch.default.svc.cluster.local:7700"
        MEILI_NO_ANALYTICS: "true"
        NEXTAUTH_URL: "https://karakeep.${SECRET_DOMAIN}"
        NEXTAUTH_SECRET: "{{ .KARAKEEP_ENCRYPTION_KEY }}"
        MEILI_MASTER_KEY: "{{ .KARAKEEP_MEILISEARCH_MASTER_KEY }}"
        OAUTH_WELLKNOWN_URL: "{{ .KARAKEEP_OAUTH_WELLKNOWN_URL }}"
        OAUTH_CLIENT_ID: "{{ .KARAKEEP_OAUTH_CLIENT_ID }}"
        OAUTH_CLIENT_SECRET: "{{ .KARAKEEP_OAUTH_CLIENT_SECRET }}"
        OAUTH_PROVIDER_NAME: "Nimbus SSO"
        OPENAI_API_KEY: "{{ .KARAKEEP_OPENAI_API_KEY }}"
        DISABLE_NEW_RELEASE_CHECK: "true"
        COREPACK_INTEGRITY_KEYS: "0"
  dataFrom:
    - extract:
        key: karakeep
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &db karakeep-db-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: crunchy-pgo-secrets
  target:
    name: *db
    template:
      engineVersion: v2
      data:
        DATABASE_URL: '{{ index . "uri" }}'
  dataFrom:
    - extract:
        key: postgres16-pguser-karakeep
