---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./ocirepository.yaml
  - ./helmrelease.yaml
  - ../../../../components/volsync
labels:
  - pairs:
      app.kubernetes.io/name: qbittorrent
      app.kubernetes.io/instance: qbittorrent
      app.kubernetes.io/part-of: qbittorrent
