---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: database

components:
  - ../../components/sops

resources:
  - ./namespace.yaml
  - ./crunchy-postgres/ks.yaml
  - ./dragonfly/ks.yaml
