---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./ocirepository.yaml
  - ./externalsecret.yaml
  - ./helmrelease.yaml
  - ../../../../components/volsync
configMapGenerator:
  - name: sonarr-configmap
    files:
      - pushover-notify.sh=./resources/pushover-notify.sh
generatorOptions:
  disableNameSuffixHash: true
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled
labels:
  - pairs:
      app.kubernetes.io/name: sonarr
      app.kubernetes.io/instance: sonarr
      app.kubernetes.io/part-of: sonarr
