---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./ocirepository.yaml
  - ./helmrelease.yaml
  - ./externalsecret.yaml
configMapGenerator:
  - name: smtp-relay-configmap
    files:
      - maddy.conf=./resources/maddy.conf
generatorOptions:
  disableNameSuffixHash: true
