---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: democratic-csi-nfs-config
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: democratic-csi-nfs-config
    template:
      engineVersion: v2
      data:
        driver-config-file.yaml: |
          driver: freenas-api-nfs
          instance_id: truenas-nfs
          httpConnection:
            protocol: "{{ .TRUENAS_API_PROTOCOL }}"
            host: "{{ .TRUENAS_API_HOST }}"
            port: {{ .TRUENAS_API_PORT }}
            apiKey: "{{ .TRUENAS_API_KEY }}"
            allowInsecure: {{ .TRUENAS_API_ALLOW_INSECURE }}
          zfs:
            datasetParentName: "{{ .TRUENAS_NFS_DATASET_PARENT }}"
            detachedSnapshotsDatasetParentName: "{{ .TRUENAS_NFS_SNAPSHOT_PARENT }}"
            datasetEnableQuotas: true
            datasetEnableReservation: false
            datasetPermissionsMode: "0777"
            datasetPermissionsUser: 0
            datasetPermissionsGroup: 0
          nfs:
            shareHost: "{{ .TRUENAS_NFS_SHARE_HOST }}"
            shareAlldirs: false
            shareAllowedHosts: []
            shareAllowedNetworks:
              - "{{ .TRUENAS_NFS_ALLOWED_NETWORK }}"
            shareMaprootUser: root
            shareMaprootGroup: root
            shareMapallUser: ""
            shareMapallGroup: ""
  dataFrom:
    - extract:
        key: democratic-csi
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: democratic-csi-nvmeof-config
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: democratic-csi-nvmeof-config
    template:
      engineVersion: v2
      data:
        driver-config-file.yaml: |
          driver: freenas-api-nvmeof
          instance_id: truenas-nvmeof
          httpConnection:
            protocol: "{{ .TRUENAS_API_PROTOCOL }}"
            host: "{{ .TRUENAS_API_HOST }}"
            port: {{ .TRUENAS_API_PORT }}
            apiKey: "{{ .TRUENAS_API_KEY }}"
            allowInsecure: {{ .TRUENAS_API_ALLOW_INSECURE }}
          zfs:
            datasetParentName: "{{ .TRUENAS_NVME_DATASET_PARENT }}"
            detachedSnapshotsDatasetParentName: "{{ .TRUENAS_NVME_SNAPSHOT_PARENT }}"
            zvolEnableReservation: false
          nvmeof:
            transports:
              - "{{ .TRUENAS_NVME_TRANSPORT }}"
            namePrefix: "csi-"
            nameSuffix: "-k8s0"
            ports:
              - {{ .TRUENAS_NVME_PORT_ID }}
  dataFrom:
    - extract:
        key: democratic-csi
