---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: democratic-csi-nfs
spec:
  interval: 1h
  chart:
    spec:
      chart: democratic-csi
      version: 0.15.1
      sourceRef:
        kind: HelmRepository
        name: democratic-csi
      interval: 1h
  values:
    csiDriver:
      name: org.democratic-csi.truenas-nfs
      fsGroupPolicy: File
      attachRequired: false
    driver:
      existingConfigSecret: democratic-csi-nfs-config
      config:
        driver: freenas-api-nfs
    controller:
      podAnnotations:
        reloader.stakater.com/auto: "true"
      driver:
        image:
          tag: v1.9.5
    node:
      podAnnotations:
        reloader.stakater.com/auto: "true"
      driver:
        image:
          tag: v1.9.5
    storageClasses:
      - name: truenas-nfs
        defaultClass: false
        reclaimPolicy: Delete
        volumeBindingMode: Immediate
        allowVolumeExpansion: true
        parameters:
          fsType: nfs
        mountOptions:
          - nfsvers=4.2
          - nconnect=16
          - hard
          - noatime
