---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: prowlarr
  namespace: media
spec:
  interval: 1h
  path: ./kubernetes/apps/media/prowlarr/app
  dependsOn:
    - name: onepassword
      namespace: external-secrets
    - name: crunchy-pgo-clusters
      namespace: database
    - name: vpn-gateway
      namespace: network
    - name: media-shared
      namespace: media
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: media
  timeout: 5m
  wait: false
  postBuild:
    substitute:
      APP: prowlarr
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
