---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default

components:
  - ../../components/sops

resources:
  - ./namespace.yaml
  - ./actual/ks.yaml
  - ./asif-blog/ks.yaml
  - ./authentik/ks.yaml
  - ./echo/ks.yaml
  - ./immich/ks.yaml
  - ./karakeep/ks.yaml
  - ./mealie/ks.yaml
  - ./miniflux/ks.yaml
  - ./smtp-relay/ks.yaml
