---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: prowlarr-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: prowlarr-secret
    template:
      engineVersion: v2
      data:
        PROWLARR__AUTH__APIKEY: "{{ .PROWLARR_API_KEY }}"
  dataFrom:
    - extract:
        key: prowlarr
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: prowlarr-db-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: crunchy-pgo-secrets
  target:
    name: prowlarr-db-secret
    template:
      engineVersion: v2
      data:
        PROWLARR__POSTGRES__HOST: '{{index . "host"}}'
        PROWLARR__POSTGRES__PORT: '{{index . "port"}}'
        PROWLARR__POSTGRES__USER: '{{index . "user"}}'
        PROWLARR__POSTGRES__PASSWORD: '{{index . "password" }}'
        PROWLARR__POSTGRES__MAINDB: '{{index . "dbname" }}'
  dataFrom:
    - extract:
        key: postgres16-pguser-prowlarr
