---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./ocirepository.yaml
  - ./externalsecret.yaml
  - ./helmrelease.yaml
labels:
  - pairs:
      app.kubernetes.io/name: prowlarr
      app.kubernetes.io/instance: prowlarr
      app.kubernetes.io/part-of: prowlarr
