---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: radarr-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: radarr-secret
    template:
      engineVersion: v2
      data:
        RADARR__AUTH__APIKEY: "{{ .RADARR_API_KEY }}"
        PUSHOVER_TOKEN: "{{ .RADARR_PUSHOVER_TOKEN }}"
        PUSHOVER_USER_KEY: "{{ .PUSHOVER_USER_KEY }}"
  dataFrom:
    - extract:
        key: pushover
    - extract:
        key: radarr
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: radarr-db-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: crunchy-pgo-secrets
  target:
    name: radarr-db-secret
    template:
      engineVersion: v2
      data:
        RADARR__POSTGRES__HOST: '{{index . "host"}}'
        RADARR__POSTGRES__PORT: '{{index . "port"}}'
        RADARR__POSTGRES__USER: '{{index . "user"}}'
        RADARR__POSTGRES__PASSWORD: '{{index . "password" }}'
        RADARR__POSTGRES__MAINDB: '{{index . "dbname" }}'
  dataFrom:
    - extract:
        key: postgres16-pguser-radarr
