#!/usr/sbin/nft -f

flush ruleset

table inet filter {
  chain input {
    type filter hook input priority 0; policy drop;

    iif "lo" accept
    ct state established,related accept
    ct state invalid drop

    ip protocol icmp accept
    ip6 nexthdr ipv6-icmp accept

{% for port in firewall_tcp_allow_ports %}
    tcp dport {{ port }} accept
{% endfor %}
{% for port in firewall_udp_allow_ports %}
    udp dport {{ port }} accept
{% endfor %}
{% for rule in firewall_tcp_allow_rules %}
    {% if rule.iifname is defined %}iifname "{{ rule.iifname }}" {% endif %}{% if rule.source is defined %}ip saddr {{ rule.source }} {% endif %}tcp dport {{ rule.port }} accept
{% endfor %}
{% for rule in firewall_udp_allow_rules %}
    {% if rule.iifname is defined %}iifname "{{ rule.iifname }}" {% endif %}{% if rule.source is defined %}ip saddr {{ rule.source }} {% endif %}udp dport {{ rule.port }} accept
{% endfor %}
  }

  chain forward {
    type filter hook forward priority 0; policy drop;
  }

  chain output {
    type filter hook output priority 0; policy accept;
  }
}
