---
clusterName: kubernetes

talosVersion: "${talosVersion}"
kubernetesVersion: "${kubernetesVersion}"

endpoint: https://10.10.40.39:6443
additionalApiServerCertSans: &sans
  - "127.0.0.1"
  - "10.10.40.39"
additionalMachineCertSans: *sans

clusterPodNets: ["10.42.0.0/16"]
clusterSvcNets: ["10.43.0.0/16"]

# Disable built-in CNI to use Cilium
cniConfig:
  name: none

nodes:
  - hostname: "k8s0"
    ipAddress: "10.10.40.40"
    installDisk: "/dev/vda"
    machineSpec:
      secureboot: false
    talosImageURL: factory.talos.dev/installer/bb0ba48a52352c699781aeeb4aa1983b80ccc778c2eac94590fe6b4ab3c0fd00
    controlPlane: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "bc:24:11:87:9c:80"
        dhcp: false
        addresses:
          - "10.10.40.40/24"
        routes:
          - network: "0.0.0.0/0"
            gateway: "10.10.40.1"
        mtu: 1500
        vip:
          ip: "10.10.40.39"
      - deviceSelector:
          hardwareAddr: "bc:24:11:c9:e7:44"
        dhcp: false
        addresses:
          - "10.10.100.40/24"
        mtu: 9000
  - hostname: "k8s1"
    ipAddress: "10.10.40.41"
    installDisk: "/dev/vda"
    machineSpec:
      secureboot: false
    talosImageURL: factory.talos.dev/installer/bb0ba48a52352c699781aeeb4aa1983b80ccc778c2eac94590fe6b4ab3c0fd00
    controlPlane: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "bc:24:11:8c:04:d2"
        dhcp: false
        addresses:
          - "10.10.40.41/24"
        routes:
          - network: "0.0.0.0/0"
            gateway: "10.10.40.1"
        mtu: 1500
        vip:
          ip: "10.10.40.39"
      - deviceSelector:
          hardwareAddr: "bc:24:11:62:fa:89"
        dhcp: false
        addresses:
          - "10.10.100.41/24"
        mtu: 9000
  - hostname: "k8s2"
    ipAddress: "10.10.40.42"
    installDisk: "/dev/vda"
    machineSpec:
      secureboot: false
    talosImageURL: factory.talos.dev/installer/bb0ba48a52352c699781aeeb4aa1983b80ccc778c2eac94590fe6b4ab3c0fd00
    controlPlane: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "bc:24:11:71:16:14"
        dhcp: false
        addresses:
          - "10.10.40.42/24"
        routes:
          - network: "0.0.0.0/0"
            gateway: "10.10.40.1"
        mtu: 1500
        vip:
          ip: "10.10.40.39"
      - deviceSelector:
          hardwareAddr: "bc:24:11:68:0f:67"
        dhcp: false
        addresses:
          - "10.10.100.42/24"
        mtu: 9000
# Global patches
patches:
  - "@./patches/global/machine-files.yaml"
  - "@./patches/global/machine-kubelet.yaml"
  - "@./patches/global/machine-network.yaml"
  - "@./patches/global/machine-sysctls.yaml"
  - "@./patches/global/machine-time.yaml"

# Controller patches
controlPlane:
  patches:
    - "@./patches/controller/cluster.yaml"

