---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: asif-blog
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: asif-blog
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      asif-blog:
        containers:
          app:
            image:
              repository: asifdocker23/fast_website
              tag: "1.16"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 80
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 256Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1001
        runAsGroup: 1001
        fsGroup: 1001
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: asif-blog
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: "10.10.40.70"
        ports:
          http:
            primary: true
            port: 80
    # route:
    #   app:
    #     hostnames: ["asifiqbal.xyz"]
    #     parentRefs:
    #       - name: envoy-external
    #         namespace: network
    #         sectionName: https
    #     rules:
    #       - backendRefs:
    #           - identifier: app
    #             port: http
