---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: media-shared
  namespace: flux-system
spec:
  targetNamespace: media
  dependsOn:
    - name: csi-driver-nfs
      namespace: kube-system
  path: ./kubernetes/apps/media/shared/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: false
  interval: 1h
  retryInterval: 1m
  timeout: 5m
