[defaults]
collections_path = ./.collections:~/.ansible/collections:/usr/share/ansible/collections
inject_facts_as_vars = False
inventory = ./inventory.yml
interpreter_python = auto_silent
roles_path = ./roles

[ssh_connection]
pipelining = True
