---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &app mealie-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: *app
    template:
      engineVersion: v2
      data:
        BASE_URL: https://mealie.${SECRET_DOMAIN}
        ALLOW_SIGNUP: "false"
        AUTO_BACKUP_ENABLED: "true"
        API_DOCS: "false"
        TZ: America/New_York
        WORKERS_PER_CORE: "1"
        MAX_WORKERS: "1"
        WEB_CONCURRENCY: "1"
        SMTP_HOST: smtp-relay.default.svc.cluster.local
        SMTP_PORT: "25"
        SMTP_FROM_NAME: Mealie
        SMTP_FROM_EMAIL: "noreply@${SECRET_DOMAIN}"
        SMTP_AUTH_STRATEGY: NONE
        OPENAI_API_KEY: "{{ .MEALIE_OPENAI_KEY }}"
        OPENAI_MODEL: "gpt-4o-mini"
        OIDC_AUTH_ENABLED: "True"
        OIDC_CONFIGURATION_URL: "{{ .MEALIE_OIDC_CONFIGURATION_URL }}"
        OIDC_CLIENT_ID: "{{ .MEALIE_OIDC_CLIENT_ID }}"
        OIDC_CLIENT_SECRET: "{{ .MEALIE_OIDC_CLIENT_SECRET }}"
        OIDC_USER_GROUP: "Nimbus Users"
        OIDC_ADMIN_GROUP: "authentik Admins"
        OIDC_PROVIDER_NAME: "Nimbus SSO"
  dataFrom:
    - extract:
        key: mealie
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &db mealie-db-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: crunchy-pgo-secrets
  target:
    name: *db
    template:
      engineVersion: v2
      data:
        POSTGRES_USER: '{{ index . "user" }}'
        POSTGRES_PASSWORD: '{{ index . "password" }}'
        POSTGRES_SERVER: '{{ index . "host" }}'
        POSTGRES_PORT: '{{ index . "port" }}'
        POSTGRES_DB: "mealie"
        DB_ENGINE: "postgres"
  dataFrom:
    - extract:
        key: postgres16-pguser-mealie
