---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &app immich-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: *app
    template:
      engineVersion: v2
      data:
        TZ: America/New_York
        NODE_ENV: "production"
        REDIS_HOSTNAME: dragonfly.database.svc.cluster.local
        REDIS_PORT: "6379"
        IMMICH_SERVER_URL: http://immich-server.default.svc.cluster.local:2283
        IMMICH_MACHINE_LEARNING_URL: http://immich-machine-learning.default.svc.cluster.local:3003
        JWT_SECRET: "{{ .IMMICH_JWT_SECRET }}"
  dataFrom:
    - extract:
        key: immich
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &db immich-db-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: crunchy-pgo-secrets
  target:
    name: *db
    template:
      engineVersion: v2
      data:
        DB_HOSTNAME: &dbhost '{{index . "host"}}'
        DB_DATABASE_NAME: &dbname "immich"
        DB_USERNAME: &dbuser '{{index . "user"}}'
        DB_PASSWORD: &dbpass '{{index . "password" }}'
        DB_PORT: &dbport '{{index . "port"}}'
  dataFrom:
    - extract:
        key: immich16-pguser-postgres
