---
apiVersion: v1
kind: ConfigMap
metadata:
  name: generic-device-plugin
data:
  config.yaml: |
    devices:
      - name: tun
        groups:
          - paths:
              - path: /dev/net/tun
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: generic-device-plugin
  labels:
    app.kubernetes.io/name: generic-device-plugin
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: generic-device-plugin
  template:
    metadata:
      labels:
        app.kubernetes.io/name: generic-device-plugin
    spec:
      priorityClassName: system-node-critical
      tolerations:
        - operator: Exists
      containers:
        - name: generic-device-plugin
          image: squat/generic-device-plugin:latest
          args:
            - --config=/config/config.yaml
          resources:
            requests:
              cpu: 10m
              memory: 32Mi
            limits:
              memory: 64Mi
          securityContext:
            privileged: true
          volumeMounts:
            - name: config
              mountPath: /config
              readOnly: true
            - name: device-plugin
              mountPath: /var/lib/kubelet/device-plugins
            - name: dev
              mountPath: /dev
      volumes:
        - name: config
          configMap:
            name: generic-device-plugin
        - name: device-plugin
          hostPath:
            path: /var/lib/kubelet/device-plugins
            type: Directory
        - name: dev
          hostPath:
            path: /dev
            type: Directory
